{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section">
  <h1>Профиль</h1>

  <form method='post'>
    <div class="auth_popup">
      {% csrf_token %}
      <div class="form-error">{{ form.non_field_errors }}</div>
      {% for f in form %}
      <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{f}}
      <div class="form-error">{{ f.errors }}</div>
      {% endfor %}

      <p><button type="submit" style="width: 40%">Сохранить</button></p>
    </div>
  </form>

    <hr>
    <span class="psw"><a href="{% url 'users_employee:password_change' %}">Сменить пароль?</a></span>
</div>
{% endblock %}